## Menghitung jarak

In [ ]:
from matplotlib import rcParams, cycler
import matplotlib.pyplot as plt
from sklearn.model_selection import cross_val_score
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [ ]:
dataseturl="https://raw.githubusercontent.com/dataprofessor/data/master/penguins_cleaned.csv"
data=pd.read_csv(dataseturl)

In [ ]:
data.head(4)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181,3750,male
1,Adelie,Torgersen,39.5,17.4,186,3800,female
2,Adelie,Torgersen,40.3,18.0,195,3250,female
3,Adelie,Torgersen,36.7,19.3,193,3450,female

In [ ]:
data.head()
data1 = data.drop(columns=['species', 'island'])

In [ ]:
data2 = data[["species"]]

In [ ]:
data2.head(25)

   species
0   Adelie
1   Adelie
2   Adelie
3   Adelie
4   Adelie
5   Adelie
6   Adelie
7   Adelie
8   Adelie
9   Adelie
10  Adelie
11  Adelie
12  Adelie
13  Adelie
14  Adelie
15  Adelie
16  Adelie
17  Adelie
18  Adelie
19  Adelie
20  Adelie
21  Adelie
22  Adelie
23  Adelie
24  Adelie

In [ ]:
dataspecies = pd.get_dummies(data2)
dataspecies

     species_Adelie  species_Chinstrap  species_Gentoo
0                 1                  0               0
1                 1                  0               0
2                 1                  0               0
3                 1                  0               0
4                 1                  0               0
..              ...                ...             ...
328               0                  1               0
329               0                  1               0
330               0                  1               0
331               0                  1               0
332               0                  1               0

[333 rows x 3 columns]

In [ ]:
data3 = data[["island"]]

In [ ]:
data3.head(25)

       island
0   Torgersen
1   Torgersen
2   Torgersen
3   Torgersen
4   Torgersen
5   Torgersen
6   Torgersen
7   Torgersen
8   Torgersen
9   Torgersen
10  Torgersen
11  Torgersen
12  Torgersen
13  Torgersen
14  Torgersen
15     Biscoe
16     Biscoe
17     Biscoe
18     Biscoe
19     Biscoe
20     Biscoe
21     Biscoe
22     Biscoe
23     Biscoe
24     Biscoe

In [ ]:
dataisland = pd.get_dummies(data3)
dataisland

     island_Biscoe  island_Dream  island_Torgersen
0                0             0                 1
1                0             0                 1
2                0             0                 1
3                0             0                 1
4                0             0                 1
..             ...           ...               ...
328              0             1                 0
329              0             1                 0
330              0             1                 0
331              0             1                 0
332              0             1                 0

[333 rows x 3 columns]

In [ ]:
datanumeric = pd.concat([dataspecies, dataisland], axis=1)

In [ ]:
Hasil = pd.concat([data1, datanumeric], axis=1)
Hasil

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,species_Adelie,species_Chinstrap,species_Gentoo,island_Biscoe,island_Dream,island_Torgersen
0,39.1,18.7,181,3750,male,1,0,0,0,0,1
1,39.5,17.4,186,3800,female,1,0,0,0,0,1
2,40.3,18.0,195,3250,female,1,0,0,0,0,1
3,36.7,19.3,193,3450,female,1,0,0,0,0,1
4,39.3,20.6,190,3650,male,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
328,55.8,19.8,207,4000,male,0,1,0,0,1,0
329,43.5,18.1,202,3400,female,0,1,0,0,1,0
330,49.6,18.2,193,3775,male,0,1,0,0,1,0
331,50.8,19.0,210,4100,male,0,1,0,0,1,0
332,50.2,18.7,198,3775,female,0,1,0,0,1,0

min max normalisasi

In [ ]:
dataNormalisasi = ['bill_length_mm',	'bill_depth_mm',	'flipper_length_mm',	'body_mass_g']
FrameNormalisasi = Hasil[dataNormalisasi]
FrameNormalisasi

     bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
0              39.1           18.7                181         3750
1              39.5           17.4                186         3800
2              40.3           18.0                195         3250
3              36.7           19.3                193         3450
4              39.3           20.6                190         3650
..              ...            ...                ...          ...
328            55.8           19.8                207         4000
329            43.5           18.1                202         3400
330            49.6           18.2                193         3775
331            50.8           19.0                210         4100
332            50.2           18.7                198         3775

[333 rows x 4 columns]

In [ ]:
scaler = MinMaxScaler()

In [ ]:
scaler.fit(FrameNormalisasi)

MinMaxScaler()

In [ ]:
# with open('ScalarMinMax','wb') as r:
#   pickle.dump(scaler,r)

In [ ]:
hasilNormalisasi = scaler.transform(FrameNormalisasi)

In [ ]:
hasilNormalisasi = pd.DataFrame(hasilNormalisasi,columns = dataNormalisasi)
hasilNormalisasi

     bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
0          0.254545       0.666667           0.152542     0.291667
1          0.269091       0.511905           0.237288     0.305556
2          0.298182       0.583333           0.389831     0.152778
3          0.167273       0.738095           0.355932     0.208333
4          0.261818       0.892857           0.305085     0.263889
..              ...            ...                ...          ...
328        0.861818       0.797619           0.593220     0.361111
329        0.414545       0.595238           0.508475     0.194444
330        0.636364       0.607143           0.355932     0.298611
331        0.680000       0.702381           0.644068     0.388889
332        0.658182       0.666667           0.440678     0.298611

[333 rows x 4 columns]

In [ ]:
Hasil = Hasil.drop(columns = dataNormalisasi)
Hasil = pd.concat([Hasil, hasilNormalisasi], axis=1)
Hasil

,sex,species_Adelie,species_Chinstrap,species_Gentoo,island_Biscoe,island_Dream,island_Torgersen,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
0,male,1,0,0,0,0,1,0.254545,0.666667,0.152542,0.291667
1,female,1,0,0,0,0,1,0.269091,0.511905,0.237288,0.305556
2,female,1,0,0,0,0,1,0.298182,0.583333,0.389831,0.152778
3,female,1,0,0,0,0,1,0.167273,0.738095,0.355932,0.208333
4,male,1,0,0,0,0,1,0.261818,0.892857,0.305085,0.263889
...,...,...,...,...,...,...,...,...,...,...,...
328,male,0,1,0,0,1,0,0.861818,0.797619,0.593220,0.361111
329,female,0,1,0,0,1,0,0.414545,0.595238,0.508475,0.194444
330,male,0,1,0,0,1,0,0.636364,0.607143,0.355932,0.298611
331,male,0,1,0,0,1,0,0.680000,0.702381,0.644068,0.388889
332,female,0,1,0,0,1,0,0.658182,0.666667,0.440678,0.298611